//media sets

@media screen and (max-width: 900px){
	.lang{
		/*background-color: #000;*/
		display: none;
	}
	#nava{
		top: 0%;
	}
}

@media screen and (max-width: 1175px){
	.hidden-text{
		display: none;
	}
	
}

@media screen and (max-width: 1000px){
	#Slidertext2{
		padding-top: 5%;
		/*display: none;*/
	}
	#Slidertext5{
		padding-top: 20%;
		/*display: none;*/
	}

	.slider-img{
		opacity: 0.6;
	}
}

