//media sets

@media screen and (max-width: 900px){
	.fixeded{
		position: static !important;
	}


	.lang{
		/*background-color: #000;*/
		/*display: none;*/
	}
	#navIdiomas{
		height: 30px;
		vertical-align: middle;
	}
	.lang-space{
		padding-left: 30px !important;
	}
	#nava{
		top: 0%;
	}
	
	.width-catalogo{
		width: 75% !important;
		height: 500px !important;
	}
	
	.slider2{
		padding-top: 0px !important;
	}

	#Slidertext5{
		padding-top: 0 !important;
	}

	#Disposicion1{
		color: #fff;
	}

	.slider-img{
		opacity: 0.6;
	}

	.no-importante-table{
		display: none;
	}

	#relleno{
		display: none;
	}

	#imagensol{
		padding-top:20px !important;
	}

	.side-m{
		border-right: 0px !important;
	}

	#infocontacto{
		display: none;
	}

	#envioform{
		text-align: center !important;
	}

	#fondofixed{
		display: none;
	}

	.aquino{
		display: none !important;
	}
	
	.contactos-padding-top{
		height: 30px !important;
	}

	}

@media screen and (min-width: 900px){
	.aquisi{
		display: none !important;
	}
	.contactos-padding-top{
		height: 120px !important;
	}
}


@media screen and (max-width: 500px){
	#ServerLink{
		width: 100%;
	}

	.slidesjs-pagination{
		display: none;
	}

	.slidesjs-navigation{
		width: 50%;
		float: none;
		text-align: center;
	}

	#toast-container{
		left:1% !important;
		width: 70% !important;
	}

	.contenedor-datos{
		width: 100% !important;
	}

	.width-catalogo{
		width: 100% !important;
		height: 500px !important;
	}


	
}

@media screen and (max-width: 1175px){
	.hidden-text{
		display: none;
	}
	
}
