.small-padding {
  padding: 5px; }

.padding-top {
  padding-top: 15%; }

.padding-top-2 {
  padding-top: 10px; }

.padding-left {
  padding-left: 5%; }

.padding-right {
  padding-right: 3%; }

.padding-bottom {
  padding-bottom: 1%; }

.no-padding {
  padding: 0px !important; }

.large-padding {
  padding: 25px; }

.huge-padding {
  padding: 40px; }

.small-margin {
  margin: 5px; }

.top-space {
  margin-top: 50px; }

img.smaller {
  width: 60%; }

i.bigger {
  font-size: 350% !important; }

.justify {
  text-align: justify; }

.center {
  text-align: center; }

.fuente-normal {
  font-family: 'Proxima N W01 Light'; }

.fuente-normal-It {
  font-family: 'Proxima N W01 Light It'; }

.fuente-Semibold {
  font-family: 'Proxima N W01 Cd Smbd'; }

.fuente-Sbold-It {
  font-family: 'ProximaNW01-CdSmbdIt'; }

.fuente-bold {
  font-family: 'Proxima N W01 X Cd Bold'; }

.fuente-bold-It {
  font-family: 'ProximaNW01-XCdBoldIt'; }

.fuente-Xbold {
  font-family: 'Proxima N W01 Xbold'; }

.fuente-Xbold-It {
  font-family: 'Proxima N W01 Xbold It'; }

.negro {
  background-color: #333333 !important; }

.negro-text {
  color: #333333 !important; }

.rojo {
  background-color: #E8504B !important; }

.rojo-text {
  color: #E8504B !important; }

.amarillo {
  background-color: #F19500 !important; }

.amarillo-text {
  color: #F19500 !important; }

.azul {
  background-color: #57989A !important; }

.azul-text {
  color: #57989A !important; }

.azul-light {
  background-color: #6EC8CB !important; }

.azul-light-text {
  color: #6EC8CB !important; }

.dark-verde {
  background-color: #121F20 !important; }

.dark-verde-text {
  color: #121F20 !important; }

.blanco-bonito {
  background-color: #F2F2F2 !important; }

.blanco-bonito-text {
  color: #F2F2F2 !important; }

.blanco {
  background-color: #FFFFFF !important; }

.blanco-text {
  color: #FFFFFF !important; }

@media screen and (max-width: 900px) {
  .fixeded {
    position: static !important; }

  .lang {
    /*background-color: #000;*/
    display: none; }

  #nava {
    top: 0%; }

  #Slidertext5 {
    padding-top: 0 !important; }

  #Disposicion1 {
    color: #fff; }

  .slider-img {
    opacity: 0.6; }

  .no-importante-table {
    display: none; }

  #relleno {
    display: none; }

  #imagensol {
    padding-top: 20px !important; }

  .side-m {
    border-right: 0px !important; }

  #infocontacto {
    display: none; }

  #envioform {
    text-align: center !important; }

  #fondofixed {
    display: none; } }
@media screen and (max-width: 500px) {
  #ServerLink {
    width: 100%; } }
@media screen and (max-width: 1175px) {
  .hidden-text {
    display: none; } }
.fixeded {
  position: fixed;
  width: 100%;
  display: block;
  top: 0;
  z-index: 50; }

#Slidertext5 {
  padding-top: 10%; }

html, body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Roboto Slab', serif; }

img {
  max-height: 100%; }

/*
nav{

  position:fixed;
  transition: .4s;
}

#Slidertext2{
  padding-top:20%;
}

#Slidertext5{
  padding-top:15%;

}
.nav{
  position:fixed;
  width: 100%;
  top:0%;
  transition: .4s;
}
nav ul{ 
  transition:.4s;
}*/
.hidden-text:hover {
  background-color: inherit;
  color: inherit; }

.logoImg {
  width: 230px;
  height: auto;
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px; }

.nav li.lang {
  font-size: 1em;
  padding: .1% !important;
  padding-bottom: .4% !important; }

nav ul li:hover a.texto-hover {
  background-color: #333333;
  color: #F2F2F2 !important; }

.side-m {
  border-right: 1px solid #BDBDBD; }

li.side {
  padding-top: 30px; }

li.side a {
  color: #FF9416;
  color: #333333; }

/*
//Fuentes

.galada{
  font-family: 'Galada', cursive !important;
}
*/
.cover {
  z-index: -1 !important;
  background-size: 100% 100%;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
  webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  height: auto !important; }

.footer-copyright {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8); }

.slider {
  position: relative; }

/*
.slider2{
  position: absolute;
  height: 100% !important;
}

.slider .slides li img{
  background-size:100% 100%;
  background-repeat:no-repeat;
}
*/
.containeresponsive {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: none; }

/*
.welcome{
  width: 100%;
  top: 110%;
  position: absolute;

}

.welcome-info-text{
  text-align: justify;
}
.services{
  background-image: url("../img/background-2.jpg");
  top: 200%;
  width: 100%;
  position: absolute;
}

.foote-page{
  bottom: -174% !important;
  height:50px;
  line-height:50px;
  color: #FFF;
  background-color:#333333;;
  position: absolute;
  width: 100%;
  
}
*/
.page-footer {
  /*bottom: -313% !important;*/
  position: static;
  display: block;
  z-index: -1; }

/*
.foote-page p{
  margin-left: 5%;
  margin-top: 0px;
}

.no-hover:hover{
  background-color: inherit;
  color: #333333;
}*/
.prod-cont {
  padding: 20px;
  text-align: center;
  z-index: -1;
  position: static; }

.padding-arriba {
  padding-top: 100px; }

.imageback {
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
  background-size: cover !important;
  width: 100%;
  height: auto !important;
  z-index: -40;
  position: relative;
  background-repeat: no-repeat; }

.carta-container {
  perspective: 700; }

.carta {
  color: #fff;
  text-align: center;
  line-height: 200px;
  position: relative;
  width: 100%;
  height: 200px;
  transition: all 1s ease;
  transform-style: preserve-3d;
  z-index: 1; }

.carta:hover {
  transform: rotateY(180deg); }

.carta2 {
  color: #fff;
  text-align: center;
  line-height: 230px;
  position: relative;
  width: 100%;
  height: 230px;
  transition: all 1s ease;
  transform-style: preserve-3d; }

.carta2:hover {
  transform: rotateY(180deg); }

.front, .back {
  background: #D32F2F;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  backface-visibility: hidden; }

.back {
  transform: rotateY(180deg); }

.front2, .back2 {
  background: #D32F2F;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  backface-visibility: hidden; }

.back2 {
  transform: rotateY(180deg); }

.topminus {
  top: -50%; }

#imagensol {
  padding-top: 150px; }

.ancla {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.65);
  color: #FFF;
  cursor: pointer;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding-top: 6px;
  display: none;
  z-index: 999;
  transition-duration: .2s;
  transition-property: background-color; }

.ancla:hover {
  background-color: #E8504B; }

.fuente-normals {
  font-size: 1em; }

.fuente-medium {
  font-size: 1.5em; }

.fuente-large {
  font-size: 2em; }

td {
  width: 15%; }

.circleli {
  list-style-type: disc; }

.mainsolution {
  font-weight: bold;
  color: #e65100; }

.fuente-SI {
  font-size: 1.5em; }

.fuente-textosmall {
  font-size: 1.2em; }

.fuente-textobig {
  font-size: 1.4em; }

.width-server {
  width: 50%; }

/*
.slide-next{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.65);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    position: fixed;
    right: 10px;
    display: ;
    z-index: 999;
    transition-duration: .2s;
    transition-property: background-color;
}
*/

/*# sourceMappingURL=main.css.map */
