!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset => "UTF-8"}
		%title Server
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../css/materialize.min.css"}
		%link{:rel => "stylesheet", :href => "../css/main.css"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Galada|Roboto+Slab"}
		%link{:rel => "icon", :href => "../img/favicon-large.png", :type => "image/x-icon"}
		%link{:rel => "stylesheet", :href=> "https://www.fuelcdn.com/fonts/proxima-nova.css"}
		%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
		%script{src: "../js/materialize.min.js"}
		%script{src: "../js/facebookapi.js"}
		%script{src: "../js/main.js"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
	%body
		.containeresponsive
			%ul.dropdown-content#dropdown1{style:"background-color:rgba(255,255,255,.7) !important;"}
				%li
					%a.grey-text.text-darken-4{:href => "industrial-solutions/fleet-management.html"} FLEET MANAGEMENT
				%li
					%a.grey-text.text-darken-4{:href => "industrial-solutions/personal-security.html"} PERSONAL SECURITY
				%li
					%a.grey-text.text-darken-4{:href => "industrial-solutions/personal-monitoring.html"} PERSONAL MONITORING

			%ul.dropdown-content#dropdown2{style:"background-color:rgba(255,255,255,.7) !important;"}
				%li
					%a.grey-text.text-darken-4{:href => "products/motorcycle-compact-gps.html"} MOTORCYCLE COMPACT GPS
				%li
					%a.grey-text.text-darken-4{:href => "products/syrus-sy2210.html"} SYRUS SY2210
				%li
					%a.grey-text.text-darken-4{:href => "products/meitrack-vt310.html"} MEITRACK VT310
				%li
					%a.grey-text.text-darken-4{:href => "products/gps-tracker-cars.html"} GPS TRACKER CARS
				%li
					%a.grey-text.text-darken-4{:href => "products/mini-tracker.html"} MINI TRACKER
				%li
					%a.grey-text.text-darken-4{:href => "products/trackimo.html"} TRACKIMO


			.fixeded
				.nav.orange.darken-2#navIdiomas
					%ul.row{style:"margin:0; width:100%"}
						%a{href:"../index.html"}
							%li.lang.col.offset-s3.offset-m6.offset-l9.s3.m2.l1.white-text.center Spanish
						%a{href:"index.html"}
							%li.lang.col.s3.m2.l1.white-text.center English
						%a{href:"catalog.html"}
							%li.lang.col.s3.m2.l1.white-text.center Catalog								
				
				%nav#nava{style:"background-color:rgba(255,255,255,.6); height:100px;"}
					.nav-wrapper{style:"background-color:transparent;"}
						%a.brand-logo{href: "index.html"}
							%img.logoImg{src: "../img/Logo-Nuevo.png"}
						%a.button-collapse{style: "padding-top:20px; padding-left:20px;","data-activates":"mobile-demo"}
							%i.material-icons.red-text.darken-2.medium menu
						%ul.right.hide-on-med-and-down{style: "padding-top:15px;"}
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold{href: "index.html"} INDEX
							%li.nav-li.hidden-text
								%a.negro-text{href: ""} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold.dropdown-button{href: "industrial-solutions.html", "data-activates":"dropdown1"} INDUSTRIAL SOLUTIONS
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold.dropdown-button{href: "products.html", "data-activates":"dropdown2"} PRODUCTS
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold{href: "server.html"} SERVER
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold{href: "meet-us.html"} MEET US
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li.red.darken-2
								%a.blanco-text{href: "contact.html"} CONTACT

						%ul.side-nav{id:"mobile-demo"}
							%ul#soluciones-drop.dropdown-content{style:"z-index: 2;"}
								%li.negro-text
									%a{:href => "industrial-solutions.html"}Industrial Solutions
								%li.negro-text
									%a{:href => "industrial-solutions/fleet-management.html"} Fleet Management
								%li.negro-text
									%a{:href => "industrial-solutions/personal-security.html"} Personal Security
								%li.negro-text
									%a{:href => "industrial-solutions/personal-monitoring.html"} Personal Monitoring
							%li
								.userView
									%img.background.responsive-img.padding-top{src: "../img/Logo-Nuevo.png"}
							%li.negro-text
								%a.waves-effect{:href => "index.html"} Index
							%li.divider
							%li.negro-text.dropdown-button{"data-activates":"soluciones-drop"} &nbsp&nbsp&nbsp&nbspIndustrial Solutions
							%li.divider
								
							%li.negro-text.dropdown-button{"data-activates":"dispositivos-drop"} &nbsp&nbsp&nbsp&nbspProducts
							%li.divider
							%ul#dispositivos-drop.dropdown-content{style:"z-index: 2;"}
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products.html"} All
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products/motorcycle-compact-gps.html"} Motorcycle Compact GPS
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products/syrus-sy2210.html"} Syrus SY2210
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products/meitrack-vt310.html"} Meitrack VT310
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products/gps-tracker-cars.html"} GPS Tracker Cars
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products/mini-tracker.html"} Mini Tracker
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "products/trackimo.html"} Trackimo
								
							%li.negro-text
								%a.waves-effect{:href => "server.html"} Server
							%li.divider
							%li.negro-text
								%a.waves-effect{:href => "meet-us.html"} Meet us
							%li.divider
							%li.negro-text
								%a.waves-effect{:href => "contact.html"} Contact
							%li.divider

			.imageback{style:"background-color:#fff;"}
				%img{src: "../img/servidorback.jpg", style: "width:100%; !important; position: relative; height: 450px; opacity: 0.8;"}

		
			.cover{style: "top: 30%;"}
				%h1.center.rojo-text.fuente-bold-It Server
			.prod-cont{style:"z-index:2;"}
				.container.justify{style: "width: 90%;"}
					.row
						.col.l12.s12
							%h5{style: "padding-top:5%;"} GPS Localization Platform.
							%br
							%h5 Technology and Security Solutions 
					.row
						.col.l9.s12
							%h5 I.S gives you GPS Software integrated with our powerful server, to provide a first-class service, a business system designed, with broad to cover different market segments, such as Fleet Management, Taxi companies with an APP applicative system, Special Vehicles.
						.col.l3.s12
							%img.responsive-img{src:"../img/tecnologia1.jpg"}
					.row
						.col.l3.s12
							%img.responsive-img{src:"../img/tecnologia2.jpg"}

						.col.l9.s12
							%h5 I.S has an innovation system in constant improvement; you will be receiving available software updates and thus maintain a differentiated service on market allowing fidelity to your industry. S.I. has a design team to support your necessities in specific applications either hardware or software.
					.row
						.col.l12.s12
							.center
								%br
								%a#ServerLink.btn.waves-effect.btn-large.rojo.blanco-bonito-text.fuente-Bold-It.width-server{href: "#"} Go to server






		-# .cover.fuente-Sbold.justify{style: "width: 100%; top:45%; padding-left: 10%; padding-right: 10%;"}
		-# 	%h5{style: "padding-top:5%;"} Plataforma de localización GPS.
		-# 	%br
		-# 	%h5 Soluciones en seguridad y tecnología.	
		-# 	%br
		-# 	%h5 Inteligencia Satelital le ofrece un Software GPS integrado con nuestro potente SERVIDOR, para brindar un servicio de primer nivel, un sistema pensado en negocios, con amplitud para abarcar diferentes segmentos del mercado, como Administración de flotas de transporte de Carga, Empresas de Taxi con aplicativos APP, Vehículos Particulares, etc.
		-# 	%br
		-# 	%h5 Inteligencia Satelital tiene un sistema de constante desarrollo e innovación, usted estará recibiendo actualizaciones disponibles de software y de esta forma mantener un servicio diferenciado de su mercado permitiéndole fidelidad a sus industrias. Contando con un equipo de diseño a su servicio para asistirlo en sus necesidades para aplicaciones específicas ya sea en hardware o en software
		-#%br
		-#.center
		-#		%a.btn.waves-effect.btn-large.rojo.blanco-bonito-text.fuente-Bold-It{href: "#", style:"width:50%;"} Ir a servidor

			
		.page-footer.grey.darken-3{style:"width:100%;"}
			.container{style:"width:90%;"}
				.row
					.col.l6.m12.s12.offset-l2
						%h4.rojo-text.fuente-bold-It Contact
						%p.grey-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"}
							Ciudad de México
						%p.rojo-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"}
							Phone number: 
							%span.grey-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"} (55) 3032 4539
						%p.rojo-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"}
							Mail: 
							%a{href: "mailto:direccion@inteligenciasatelital.com.mx"}
								%span.grey-text.text-lighten-4.justify.fuente-normal-It{style: "text-decoration: underline; font-size: 1em;"} direccion@inteligenciasatelital.com.mx
						
						%a{href: "contact.html"}
							%p.blue-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.5em; text-decoration: underline;"}
								Write us
					.col.l2.m4.s4.offset-m4.offset-s4
						%a{href: "#"}
							%img.responsive-img{src: "../img/facebook.png", style: "padding-top: 30%; padding-bottom: 20%;"}
			
			.footer-copyright.negro
				.container.white-text.center
					2017 Inteligencia Satelital | All Rights Reserved | Developed by:
					%a{href: "https://actosoft.github.io/ActoSoft/", style: "color:#fff;"}
						%b
							ActoSoft						


		%a.ancla{onclick: "gototop()"}
			%img{src: "../img/up-arrow.png"}