.nav-wrapper.hide-on-med-and-down{style:"background-color: transparent; !important;"}
					%a.brand-logo{href: "index.html"}
						%img.padding-left{:src => "img/Logo-Nuevo.png", :alt => "", style: "padding-bottom: 1%; width: 20%; margin-top:0.3%;"}/
					%ul#nav-mobile.right.hide-on-med-and-do{style: "padding-top:1.5%;"}
						%li.nav-li.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
						%li.nav-li
							%a.negro-text.si.fuente-normals.fuente-Sbold{href: "index.html"} INICIO
						%li.nav-li.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.dropdown-button.fuente-normals.fuente-Sbold{href: "soluciones-industriales.html","data-activates":"dropdown1"} SOLUCIONES INDUSTRIALES
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.dropdown-button.fuente-normals.fuente-Sbold{href: "dispositivos.html","data-activates":"dropdown2"} DISPOSITIVOS
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.fuente-normals.fuente-Sbold{href: "servidor.html"} SERVIDOR 
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.fuente-normals.fuente-Sbold{href: "empresa.html"} EMPRESA
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.white-text.red.darken-2.fuente-normals.fuente-Sbold{href: "contacto.html"} CONTACTO
				.nav-wrapper
					%a.brand-logo.left{href: "#"}
						%img{:src => "img/Logo-Nuevo.png", :alt => "", style:"position:absolute; "}/
					%a.button-collapse{href:"#", "data-activates":"mobile"}
						%i.material-icons.negro-text.bigger menu
					%ul.side-nav{id:"mobile", style:"z-index:10"}
						%li.negro-text
							%a{:href => "index.html"} Inicio
						%li.negro-text
							%a{:href => "soluciones-industriales.html"} Soluciones Industriales
						%li.negro-tex
							%a{:href => "dispositivos.html"} Dispositivos
						%li.negro-text
							%a{:href => "servidor.html"} Servidor
						%li.negro-text
							%a{:href => "empresa.html"} Empresa
						%li.negro-text
							%a{:href => "contacto.html"} Contacto