!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "UTF-8"}
		%title Inteligencia Satelital
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "css/materialize.min.css"}
		%link{:rel => "stylesheet", :href => "css/main.css"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Galada|Roboto+Slab"}
		%link{:rel => "icon", :href => "img/favicon-large.png", :type => "image/x-icon"}
		%link{:rel => "stylesheet", :href=> "https://www.fuelcdn.com/fonts/proxima-nova.css"}
		%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
		%script{src: "js/materialize.min.js"}
		%script{src: "js/facebookapi.js"}
		%script{src: "js/main.js"}
		%script{src: "js/SlidesJS/source/jquery.slides.js"}
		%script{src: "js/slides.js"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
	%body
		.containeresponsive
			%ul.dropdown-content#dropdown1{style:"background-color:rgba(255,255,255,.7) !important;"}
				%li
					%a.grey-text.text-darken-4{:href => "soluciones-industriales/gestion-de-flotas.html"} GESTION DE FLOTAS
				%li
					%a.grey-text.text-darken-4{:href => "soluciones-industriales/seguridad-personal.html"} SEGURIDAD PERSONAL
				%li
					%a.grey-text.text-darken-4{:href => "soluciones-industriales/seguimiento-de-personal.html"} SEGUIMIENTO DE PERSONAL

			%ul.dropdown-content#dropdown2{style:"background-color:rgba(255,255,255,.7) !important;"}
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/gps-tracker.html"} GPS TRACKER
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/syrus-sy2210.html"} SYRUS SY2210
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/meitrack-vt310.html"} MEITRACK VT310
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/gps-tracker-vehiculos.html"} GPS TRACKER VEHICULOS 
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/mini-tracker.html"} MINI TRACKER
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/trackimo.html"} TRACKIMO
			%ul.dropdown-content#dropdown1{style:"background-color:rgba(255,255,255,.7) !important;"}
				%li
					%a.grey-text.text-darken-4{:href => "soluciones-industriales/gestion-de-flotas.html"} GESTION DE FLOTAS
				%li
					%a.grey-text.text-darken-4{:href => "soluciones-industriales/seguridad-personal.html"} SEGURIDAD PERSONAL
				%li
					%a.grey-text.text-darken-4{:href => "soluciones-industriales/seguimiento-de-personal.html"} SEGUIMIENTO DE PERSONAL

			%ul.dropdown-content#dropdown2{style:"background-color:rgba(255,255,255,.7) !important;"}
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/gps-tracker.html"} GPS TRACKER
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/syrus-sy2210.html"} SYRUS SY2210
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/meitrack-vt310.html"} MEITRACK VT310
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/gps-tracker-vehiculos.html"} GPS TRACKER VEHICULOS 
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/mini-tracker.html"} MINI TRACKER
				%li
					%a.grey-text.text-darken-4{:href => "dispositivos/trackimo.html"} TRACKIMO

			.fixeded
				.nav.orange.darken-2#navIdiomas
					%ul.row{style:"margin:0; width:100%"}
						%li.lang.col.offset-s10.s1.white-text Español 
						%li.lang.col.s1.white-text Inglés
				
				%nav#nava{style:"background-color:rgba(255,255,255,.6); height:100px;"}
					.nav-wrapper{style:"background-color:transparent;"}
						%a.brand-logo{href: "index.html"}
							%img.logoImg{src: "img/Logo-Nuevo.png"}
						%a.button-collapse{style: "padding-top:20px; padding-left:20px;","data-activates":"mobile-demo"}
							%i.material-icons.red-text.darken-2.medium menu
						%ul.right.hide-on-med-and-down{style: "padding-top:15px;"}
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold{href: "index.html"} INICIO
							%li.nav-li.hidden-text
								%a.negro-text{href: ""} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold.dropdown-button{href: "soluciones-industriales.html", "data-activates":"dropdown1"} SOLUCIONES INDUSTRIALES
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold.dropdown-button{href: "dispositivos.html", "data-activates":"dropdown2"} DISPOSITIVOS
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold{href: "servidor.html"} SERVIDOR
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li
								%a.negro-text.texto-hover.fuente-normals.fuente-Sbold{href: "empresa.html"} EMPRESA
							%li.nav-li.hidden-text
								%a.negro-text{href: "#"} &nbsp&nbsp&nbsp
							%li.nav-li.red.darken-2
								%a.blanco-text{href: "contacto.html"} CONTACTO

						%ul.side-nav{id:"mobile-demo"}
							%ul#soluciones-drop.dropdown-content{style:"z-index: 2;"}
								%li.negro-text
									%a{:href => "soluciones-industriales.html"}Soluciones Industriales
								%li.negro-text
									%a{:href => "soluciones-industriales/gestion-de-flotas.html"} Gestión de Flotas
								%li.negro-text
									%a{:href => "soluciones-industriales/seguridad-personal.html"} Seguridad Personal
								%li.negro-text
									%a{:href => "soluciones-industriales/seguimiento-de-personal.html"} Seguimiento de personal
							%li
								.userView
									%img.background.responsive-img.padding-top{src: "img/Logo-Nuevo.png"}
							%li.negro-text
								%a.waves-effect{:href => "index.html"} Inicio
							%li.divider
							%li.negro-text.dropdown-button{"data-activates":"soluciones-drop"} &nbsp&nbsp&nbsp&nbspSoluciones Industriales
							%li.divider
								
							%li.negro-text.dropdown-button{"data-activates":"dispositivos-drop"} &nbsp&nbsp&nbsp&nbspDispositivos
							%li.divider
							%ul#dispositivos-drop.dropdown-content{style:"z-index: 2;"}
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos.html"} Todos
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos/gps-tracker.html"} GPS Tracker
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos/syrus-sy2210.html"} Syrus SY2210
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos/meitrack-vt310.html"} Meitrack VT310
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos/gps-tracker-vehiculos.html"} GPS Tracker Automovil 
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos/mini-tracker.html"} Mini Tracker
								
								
								%li.negro-text
									%a.waves-effect{style:"text-align:center;", :href => "dispositivos/trackimo.html"} Trackimo
								
							%li.negro-text
								%a.waves-effect{:href => "servidor.html"} Servidor
							%li.divider
							%li.negro-text
								%a.waves-effect{:href => "empresa.html"} Empresa
							%li.divider
							%li.negro-text
								%a.waves-effect{:href => "contacto.html"} Contacto
							%li.divider

			.slider2{style:"padding-top: 130px;"}
				.slides2
					%img.responsive-img.slider-img{src: "img/slider1.jpg", :alt => ""}
					%img.responsive-img.slider-img{src: "img/slider2.jpg", :alt => ""}
					%img.responsive-img.slider-img{src: "img/slider3.jpg", :alt => ""}

